.document {
    background-color: lightgray;
}

.head {
    /*border: 1px solid black;*/
}

.body {

}

.subheadline {
    font-size: medium;
}

.headline {
    font-size: xx-large;
}

.lead {
    font-size: large;
}

.paragraph {
    margin-top: 5px;
    text-indent: 25px;
}

.subheading {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: x-large;
}