<!-- Document -->
<div class="document">

    <!-- Head section -->
    <div class="head" ng-if="documentRendered.headElements.length > 0">
        <ng-repeat ng-repeat="headElement in documentRendered.headElements">
            <ng-bind-html ng-bind-html="headElement"></ng-bind-html>
        </ng-repeat>
    </div>

    <!-- Body section -->
    <div class="body" ng-if="documentRendered.bodyElements.length > 0">
        <ng-repeat ng-repeat="bodyElement in documentRendered.bodyElements">
            <ng-bind-html ng-bind-html="bodyElement"></ng-bind-html>
        </ng-repeat>
    </div>
</div>